:root {
  /** Variables  **/
  --heading-fonts: "Whitney Cond A", "Whitney Cond B", Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  --body-fonts: "Whitney SSm A", "Whitney SSm B", Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  
  --white: white;
}

body {
  font-family: var(--body-fonts);
  font-size: 20px;
  line-height: 1.45;
  color: #333;
  margin: 2px 20px 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-fonts);
}

@media screen and (min-width: 500px) {
  html {
      font-size: calc(15px + 7 * ((100vw - 500px) / 900));
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size:22px
  }
}


a {
    color: #03A9F4
}

a:hover,a:focus {
    color: #333
}

a:active {
    color: black;
    border-bottom-color: black
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #222;
    border: 0
}

h1 a:hover,h1 a:focus,
h2 a:hover,h2 a:focus,
h3 a:hover,h3 a:focus,
h4 a:hover,h4 a:focus,
h5 a:hover,h5 a:focus,
h6 a:hover,h6 a:focus {
    color: #03A9F4
}


body {
  display: grid;
}

body>nav {
  grid-row: 1;
  grid-column: 1 / 5;  
}
body>header {
  grid-row: 2;
  position: relative;
  grid-column: 1 / 5;
}
body>main {
  grid-row: 3;
  grid-column: 1;
}
body>aside {
  grid-row: 3;
  grid-column: 4;
  margin-left:25px;
}
body>footer {
  grid-row: 4;
  grid-column: 1 / 5;
}


header h1 {
  font-size: 4rem;
  margin: 0 1rem;
}
header div {
  font-size: 1.5rem;
  margin: 0 3rem;
}
header img {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.7;
  width: 100vw;
}
header {
    overflow: hidden;
}

nav li {
  list-style: none;
}

body>nav ul {
  display: flex;
  
}

body>nav li:first-child {
  margin-right: auto;
}

body>nav li:first-child a {
  background: #4584b1;
}

body>nav  a {
  margin: 10px;
  border-radius: 5px;
  background: #60B99A;
  color: #fff;
	display: block;
	padding: 15px;
	text-decoration: none;
  text-transform: capitalize;
}

body>aside a {
  margin: 5px;
  border-radius: 5px;
  background: #60B99A;
  color: #fff;
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}

a.active {
  background: #4584b1;
}

.white {
  color: white;
}

.blue {
  color: blue;
}

.navy {
  color: navy;
}

/*Blockquotes*/
blockquote {
  position: relative;
}


blockquote.tip,
blockquote.note,
blockquote.warning,
blockquote.beta {
  padding-left: 2rem;
}

blockquote.tip:before,
blockquote.note:before,
blockquote.warning:before,
blockquote.beta:before {
  font-family: FontAwesome;
  font-size: .75rem;
  display: inline-block;
  position: absolute;
  top: .15rem;
  text-align: center;
  line-height: 1.1rem;
  left: -16px;
  height: 1rem;
  width: 1rem;
  background: white;
  border-radius: 50%;
}

blockquote.tip {
  border-left: solid 7px green;
  background-color: lightgreen;
}

blockquote.tip:before {
  content: "\f219";
  border: solid 2px green;
  color: green;
}

blockquote.note {
  border-left: solid 7px blue;
  background-color: lightblue;
}

blockquote.note:before {
  content: "\f129";
  border: solid 2px blue;
  color: blue;
}

blockquote.warning {
  border-left: solid 7px darkred;
  background-color: rgba(255,0,0,0.25);
}

blockquote.warning:before {
  content: "\f12a";
  border: solid 2px darkred;
  color: darkred;
}

blockquote.beta {
  border-left: solid 7px darkorange;
  background-color: wheat;
}

blockquote.beta:before {
  content: "\f094";
  border: solid 2px darkorange;
  color: darkorange;
}


